@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-merriweather: 'Merriweather', serif;
  --font-dm-sans: 'DM Sans', sans-serif;
}

body {
  font-family: var(--font-dm-sans);
}

.font-merriweather {
  font-family: var(--font-merriweather);
}

.font-dm-sans {
  font-family: var(--font-dm-sans);
}

